<nav class="navbar navbar-dark bg-light-1 fixed-top">
<a class="btn btn" routerLink="/user/:uid/website/wid/page" class="sw-black"><i class="fas fa-chevron-left"></i></a>
<div class="sw-width">
<a class="float-left sw-no-underline" routerLink="/user/:uid/website/wid/page/:new"><b>New Page</b></a>
 </div>
 
<a routerLink="/user/:uid/website/wid/page" class="sw-font-black"><i class="fas fa-check sw-absolute-right"></i></a>

</nav>



	
<div class="container-fluid">
 <br>
				
<div class="form-group">
 <label for="website-name"><b>Name</b></label>
					
 <input class="form-control" type="text" name="Name" placeholder="Page Name">
</div>
						
<div class="form-group">
<label for="website-name"><b>Title</b></label>
<input class="form-control" type="text" name="Title" placeholder="Page Title">
</div>


<nav class="navbar navbar-dark bg-light-1 fixed-bottom ">


	
	<a class=" sw-width-1 sw-font-white" routerLink="/user/:uid"><i class="fas fa-user float-right" ></i></a>





</nav>



