<nav class="navbar bg-light-1 fixed-top">
	<a class="btn btn" routerLink="/user/:uid/website/wid/page/:pid/widget/new" class="sw-gray">
      <i class="fas fa-chevron-left"></i>
    </a>
  <div class="sw-width">
	<a class="float-left sw-no-underline" routerLink="/user/:uid/website/wid/page/:pid/widget/new"><b>Choose Widget</b></a>
  </div>
	
</nav>
  <div class="container-fluid">
 
 <ul class="list-class"> 
 <li><a class="sw-no-underline" routerLink="#">Header</a></li><br>
<li ><a class="sw-no-underline" routerLink="#">Label</a></li><br>
<li ><a class="sw-no-underline" routerLink="#">HTML</a></li><br>
<li ><a class="sw-no-underline" routerLink="#">Text Input</a></li><br>
<li ><a class="sw-no-underline" routerLink="#">Link</a></li><br>
 <li ><a class="sw-no-underline" routerLink="#">Button</a></li><br>
<li ><a class="sw-no-underline" routerLink="#">Image</a></li><br>
 <li ><a class="sw-no-underline" routerLink="#">YouTube</a></li><br>
<li ><a class="sw-no-underline" routerLink="#">Data Table</a></li><br>
<li ><a class="sw-no-underline" routerLink="#">Repeater</a></li><br>

</ul>

 
</div>


 <nav class="navbar navbar-dark bg-light-1 fixed-bottom ">


	<a class="navbar-brand " routerLink="/user/:uid/website/new"></a>
	<a class=" sw-width sw-font-black" routerLink="/user/:uid/website/new"><i class="fas fa-user float-right" ></i></a>





</nav>